.places__text {
    margin: 0;
    grid-area: places__text;
    width:100%;
    min-width: 484px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

@media (max-width: 1024px) {
    .places__text {
        min-width: 456px;
    }
}

@media (max-width: 768px) {
    .places {
        min-width: 352px;
    }
}

@media (max-width: 320px) {
    .places {
        min-width: 288px;
    }
}