.lead__image {
    width: 100%;
    min-width: 928px;
    height: 100%;
    min-height: 580px;
    padding-top: 64px;
}

@media screen and (min-width: 767px) and (max-width: 1100px) {
    .lead__image {
        padding-top: 56px;
        min-width: 100%;
        min-height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        padding-top: 40px;
        min-width: 100%;
        min-height: 100%;
    }
}