.cover {
    width:100%;
    min-height: 740px;
    padding-top: 92px;
    padding-bottom: 92px;
    box-sizing: border-box;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .cover{
        padding: 90px 0 88px 0;
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover{
        padding: 66px 0 97px 0;
        min-height: 200px;
    }
}